<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8">
		<title>問い合わせフォーム</title>
	</head>
	<body>
		<form action="/result" method="post">
			<div>
				名前<br> 
				<input name="name" type="text"> 
			</div>
			<div>
				メールアドレス<br>
				<input name="mail" type="email"> 
			</div>
			<div>
				年齢<br>
				<input name="age" type="text">
			</div>
			<div>
				性別<br>
				<input name="gender" type="radio" value="男性">男性
				<input name="gender" type="radio" value="女性">女性
			</div>
			<div>
				<input value="送信"type="submit">
			</div>
		</form>
	</body>
</html>
